[submodule "Tsinghua-THUBA/Tutorials"]
	path = Tsinghua-THUBA/Tutorials
	url = https://github.com/THUBA-Labs/Tutorial
[submodule "Tsinghua-THUBA/Research"]
	path = Tsinghua-THUBA/Research
	url = https://github.com/THUBA-Labs/Research
[submodule "Tsinghua-THUBA/Hackathons"]
	path = Tsinghua-THUBA/Hackathons
	url = https://github.com/THUBA-Labs/Hackthons
