[submodule "THUBA-Labs.github.io"]
	path = THUBA-Labs.github.io
	url = https://github.com/THUBA-Labs/THUBA-Labs.github.io
[submodule "Research"]
	path = Research
	url = https://github.com/THUBA-Labs/Research.git
[submodule "Hackthons"]
	path = Hackthons
	url = https://github.com/THUBA-Labs/Hackthons.git
[submodule "Tutorial"]
	path = Tutorial
	url = https://github.com/THUBA-Labs/Tutorial.git
